body{
    text-align: center;
    background-color: rgb(36, 36, 36);
}
h1{
    color: rgb(255, 190, 110);
    animation: glowyEffect 5s ease infinite;
}
h3{
    color: aquamarine;
}
#myText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 50px;
    font-size: 2rem;
    border-radius: 10px;
}
#mySubmit{
    font-size: 18px;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 40px;
}
#mySubmit:hover{
    background-color: aquamarine;
    cursor: pointer;
}
#mySubmit:active{
    box-shadow: 0px 0px 15px blue;
    background-color: rgb(49, 173, 255);
}
#warning{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 8, 0);
}
#myResult{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}
.leaderboard {
  height: 30vh;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
.leaderboard table{
  border-collapse: collapse;
}
table th, td{
  border: 1px solid white;
  width: 100%;
  padding: 5px 15px;
}
table {
  max-width: 300px;
}

@keyframes jumpIn{
  from{
    transform: translateY(-10px)
  }
}

@keyframes glowyEffect{
  0%{
    text-shadow: 0px 0px 5px yellow;
  }
  50%{
    text-shadow: 0px 0px 15px yellow;
  }
  100%{
    text-shadow: 0px 0px 5px yellow;
  }
}
